extends layout.pug
block content
    h1.mb-4 Local Chromecaster
    h3 Choose a video
    ul.list-group
        each vid in vids
            li.list-group-item
                a(href=`vid/${vid.uri}`)= vid.name.split('.').slice(0,1)