doctype
html
    head
        meta(viewport="width=device-width, initial-scale=1, maximum-scale=1")
        title Local Chromecaster
        link(rel="stylesheet", href="/static/css/lib/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/style.css")

    body
        .container.mt-4.mb-4.text-center
            block content

        footer
