extends layout.pug
block content
    h1.mb-4= vid.name
    video(src=`/vids/${vid.uri}`, controls)
    a.btn.btn-secondary.float-left(href=`previous/${vid.uri}`) Previous
    a.btn.btn-secondary.float-right(href=`next/${vid.uri}`) Next
    a.btn.btn-primary(href="/") Return to Index