extends layout.pug
block content
    h1.mb-4= decodeURI(vid).split('.').slice(0,1)
    video(src=`/vids/${vid}`, controls)
    a.btn.btn-secondary.float-left(href=`previous/${vid}`) Previous
    a.btn.btn-secondary.float-right(href=`next/${vid}`) Next
    a.btn.btn-primary(href="/") Return to Index